<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">
  <title>Connections</title>
</head>

<body>
  <div class="container">
    <header>
      <h1>Connections</h1>
    </header>
    <section>
      <article>
        <div class="dropdown show">
          <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Actions</a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a id="newConnection" class="dropdown-item" href="/connection">New Connection</a>
            <a id="useConnection" class="dropdown-item disabled" href="#">Use</a>
            <a id="delConnection" class="dropdown-item disabled" href="#">Delete</a>
            <a id="uploadfile" class="dropdown-item" href="#connUploadDlg" data-toggle="modal" data-target="#connUploadDlg">Upload Connection(s)</a>
            <a id="exportAll" class="dropdown-item" href="/settings">Export All Connections</a>
            <a id="exportSelected" class="dropdown-item disabled" href="#">Export Selected</a>
          </div>
        </div>
        <table id="connections" data-classes="table table-sm table-no-bordered" data-striped="true" data-toggle="table" data-url="/connections/settings">
          <thead>
            <tr>
              <th scope="col" data-field="state" data-checkbox="true"></th>
              <th scope="col" data-field="name" data-formatter="connection_name_link_formatter">Connection Name</th>
              <th scope="col" data-field="host">Host</th>
              <th scope="col" data-field="bindDn">Bind DN</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </article>
    </section>
  </div>
  <div class="modal fade" id="connUploadDlg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="saveSearchAsTitle">Upload Connections File</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST" enctype="multipart/form-data" id="connUpload">
          <div class="modal-body">
            <label for="searchName" class="form-control-label sr-only">Choose File</label>
            <input type="file" class="form-control" id="uploadFile" name="uploadFile">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="upload">Upload File</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
  <script>

    function delete_connections(names) {
      names.forEach(element => {
        console.log('Deleting ' + element.name);
        $.ajax({
          url: '/connection/' + element.name,
          type: 'DELETE',
          statusCode: {
            204: function () {
              console.log('Successfully deleted ' + element.name);
            }
          }
        });
      });
      window.location.replace('/connections');
    }

    function use_connection(conn_name) {
      console.log('Using ' + conn_name);
      $.ajax({
        url: '/connection/' + conn_name,
        type: 'PATCH',
        statusCode: {
          204: function () {
            console.log('Activated ' + conn_name);
          }
        }
      }).fail(function (jqXHR, exception) {
        window.location.replace('/error/' + jqXHR.status);
      });
      window.location.replace('/search');
    }

    function connection_name_link_formatter(value, row, index, field) {
      return '<a href="/connection/' + value + '">' + value + '</a>';
    }

    var checkedRows = [];
    var conn_name = '';
    $('#connections').on('uncheck-all.bs.table', function (rows) {
      checkedRows = [];
      $('#delConnection').addClass('disabled');
      $('#delConnection').attr('href', '#');
      $('#newConnection').removeClass('disabled');
      $('#newConnection').attr('href', '/connection');
      $('#useConnection').addClass('disabled');
      $('#useConnection').attr('href', '#');
    });

    $('#connections').on('check-all.bs.table', function (rows) {
      let table_rows = rows.target.children.item(1).children;
      for (let i = 0; i < table_rows.length; i++) {
        let table_row = table_rows[i];
        checkedRows.push({ name: table_row.children.item(1).children.item(0).innerText });
      }
      $('#delConnection').removeClass('disabled');
      $('#delConnection').attr('href', 'javascript:delete_connections(checkedRows)');
      $('#newConnection').addClass('disabled');
      $('#newConnection').attr('href', '#');
      if (checkedRows.length == 1) {
        conn_name = checkedRows[0].name;
        $('#useConnection').removeClass('disabled');
        $('#useConnection').attr('href', 'javascript:use_connection(conn_name)');
      } else {
        $('#useConnection').addClass('disabled');
        $('#useConnection').attr('href', '#');
      }
    });

    $('#connections').on('check.bs.table', function (e, row) {
      checkedRows.push({ name: row.name });
      $('#delConnection').removeClass('disabled');
      $('#delConnection').attr('href', 'javascript:delete_connections(checkedRows)');
      $('#newConnection').addClass('disabled');
      $('#newConnection').attr('href', '#');
      if (checkedRows.length == 1) {
        conn_name = row.name;
        $('#useConnection').removeClass('disabled');
        $('#useConnection').attr('href', 'javascript:use_connection(conn_name)');
        $('#exportSelected').removeClass('disabled');
        $('#exportSelected').attr('href', '/settings/' + conn_name);
      } else {
        $('#useConnection').addClass('disabled');
        $('#useConnection').attr('href', '#');
        $('#exportSelected').addClass('disabled');
        $('#exportSelected').attr('href', '#');
      }
    });

    $('#connections').on('uncheck.bs.table', function (e, row) {
      $.each(checkedRows, function (index, value) {
        if (value.name === row.name) {
          checkedRows.splice(index, 1);
        }
      });
      if (checkedRows.length == 0) {
        $('#delConnection').addClass('disabled');
        $('#delConnection').attr('href', '#');
        $('#newConnection').removeClass('disabled');
        $('#newConnection').attr('href', '/connection');
      }
      if (checkedRows.length == 1) {
        conn_name = row.name;
        $('#useConnection').removeClass('disabled');
        $('#useConnection').attr('href', 'javascript:use_connection(conn_name)');
        $('#exportSelected').removeClass('disabled');
        $('#exportSelected').attr('href', '/settings/' + conn_name);
      } else {
        $('#useConnection').addClass('disabled');
        $('#useConnection').attr('href', '#');
        $('#exportSelected').addClass('disabled');
        $('#exportSelected').attr('href', '#');
      }
    });

    $('#upload').click(function (e) {
      e.preventDefault();
      let form = $('#connUpload')[0];
      let data = new FormData(form);
      $("#upload").prop("disabled", true);
      $.ajax({
        type: 'POST',
        enctype: 'multipart/form-data',
        url: '/settings',
        data: data,
        processData: false,
        contentType: false,
        cache: false
      }).done(function () {
        $('#connections').bootstrapTable('refresh', {});
        $('#upload').prop('disabled', false);
        $('#connUploadDlg').modal('toggle');
      });
    });
  </script>
</body>

</html>
