<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../../../css/bootstrap.min.css">
    <title>Error!</title>
  </head>
  <body>
   <div class="container">
     <section>
       <h1>Error!</h1>
       <p>An error has occurred! Return to <a href="/search">search</a> or <a href="/connections">connect</a> to a different host.</p>
     </section>
   </div>
   <script src="../../../js/jquery.slim.min.js"></script>
   <script src="../../../js/popper.min.js"></script>
   <script src="../../../js/bootstrap.min.js"></script>
  </body>
</html>