<section>
<form id="search" action="search" method="GET" enctype="application/x-www-form-urlencoded">
<div class="form-group">
<label for="rdn" class="form-control-label sr-only">RDN</label>
<input class="form-control" type="text" placeholder="RDN (e.g. ou=Users)" id="rdn" name="rdn" %1$s />
</div>
<div class="form-group">
<label for="filter" class="form-control-label sr-only">Filter</label>
<textarea class="form-control" type="textarea" rows="4" placeholder="filter (e.g. (cn=foo))" id="filter" name="filter">%2$s</textarea>
</div>
<div class="form-group">
<label for="attr" class="form-control-label sr-only">Attributes to Return</label>
<input class="form-control" type="text" placeholder="attributes to return (e.g. cn mail objectClass)" id="attr" name="attr" %3$s />
</div>
<div class="form-group">
<label for="scope" class="form-control-label sr-only">Search Scope</label>
<select class="form-control" id="scope" name="scope">
<option>Search Scope...</option>
<option value="subtree">subtree</option>
<option value="object">object</option>
<option value="onelevel">onelevel</option>
</select>
</div>
<div class="form-group">
<span class="input-group-btn">
<input class="btn btn-primary" type="submit" value="Search"/>
<input class="btn btn-warning" type="reset" value="Clear"/>
</span>
</div>
</form>
</section>