<section>
<form id="search" action="search" method="GET" enctype="application/x-www-form-urlencoded">
<div class="form-group">
<label for="rdn" class="form-control-label sr-only">RDN</label>
<input class="form-control" type="text" placeholder="RDN (e.g. ou=Users)" id="rdn" name="rdn"/>
<label for="filter" class="form-control-label sr-only">Filter</label>
<input class="form-control" type="text" placeholder="filter (e.g. (cn=foo))" id="filter" name="filter"/>
<span class="input-group-btn">
<input class="btn btn-primary" type="submit">Go</submit>
</span>
</div>
</form>
</section>